body {
    background-image: url("../8576F790-2BB6-4409-B8D2-7DC839D9584B.JPEG");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 39vh;
    margin-left: 12vh;
}

#buy {
    height: 55px;
    width: 55px;
    background-color: green;
    border-radius: 50%;
    font: Bold 20px Helvetica;
    color: #20d33e;
}

#sell {
    height: 55px;
    width: 55px;
    margin-top: .4vh;
    margin-left: 9.6vh;
    background-color: green;
    border-radius: 50%;
        font: Bold 16px Helvetica;
    color: #20d33e;
}
