body {
    background-image: url("../8576F790-2BB6-4409-B8D2-7DC839D9584B.JPEG");
    background-position: center;
    background-size: 140%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 337vh;
}

#buy {
    height: 85px;
    width: 85px;
    background-color: green;
    border-radius: 50%;
    font: Bold 16px Helvetica;
    color: #20d33e;
    margin-top: -567.7vh;
    margin-left: 6.7vh;
}

#sell {
    height: 85px;
    width: 85px;
    margin-top: -565.7vh;
    margin-left: 13.2vh;
    background-color: green;
    border-radius: 50%;
    font: Bold 16px Helvetica;
    color: #20d33e;
}
